@import 'variables';

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
    background-size: cover;
    position: relative;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

header {
    nav {
        a {
            margin: 0 auto !important;
            text-align: center;
            img {
                width: 60%;
            }
        }
    }
}

#intro {
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3.5rem 0;
    #intro-left {                 
        h1 {
            font-size: 3rem;
            font-weight: 900;
            color: white;
            text-shadow: 0px 4px 3px rgba(0,0,0,0.2), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
            margin: 0;
            @include media-breakpoint-between(xs, sm) {
                font-size: 2rem;
                text-align: center;
            }
            @include media-breakpoint-between(md, lg) {
                font-size: 2.5rem;
            }  
            span {
                background: white;
                color: $primary;
                padding: 0 .5rem .3rem .5rem;
                @include media-breakpoint-between(xs, sm) {
                    background: none;
                    padding: 0;
                    color: white;
                }                
            }      
        }
        p {
            font-size: 1.5rem;
            font-weight: 400;
            color: white;
            text-shadow: 0px 4px 3px rgba(0,0,0,0.2), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
            margin: 1.5rem 0;
            @include media-breakpoint-between(xs, sm) {
                font-size: 1.3rem;
                text-align: center;
            }   
            @include media-breakpoint-between(md, lg) {
                font-size: 1.3rem;
            }               
        }
        button {
            @include media-breakpoint-between(xs, sm) {
                width: 100%;
            }          
        }
        @include media-breakpoint-between(md, lg) {
            display: flex;
            flex-direction: column;
            justify-content: center;  
        }          
    }
    #intro-right {
        .formBG {
            background: white;
            padding: 1.5rem;
            border-radius: .5rem;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            &:hover {
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }            
            form {
                h2 {
                    color: $primary;
                    font-size: 1.5rem;
                    font-weight: 700;
                    text-align: center;
                    margin-bottom: 1rem;
                }
                p {
                    color: $dark-grey;
                    text-align: center;
                    text-shadow: none;
                }
                label {
                    color: $dark-grey;
                    font-size: 1rem;
                    font-weight: 700;
                }
                button {
                    width: 100%;                  
                }
            }
        }
        p {
            font-size: 1.5rem;
            font-weight: 400;
            color: white;
            text-shadow: 0px 4px 3px rgba(0,0,0,0.2), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
            margin: 1.5rem 0;
            @include media-breakpoint-between(xs, sm) {
                font-size: 1.3rem;
                text-align: center;
            }   
            @include media-breakpoint-between(md, lg) {
                font-size: 1.3rem;
            }               
        }
        button {
            i {
                position: relative;
                top: 1px;
                left: 3px;
            }
            @include media-breakpoint-between(xs, sm) {
                width: 100%;
            }          
        }
        #form_02{
            display: none;
        }       
    }
}

#content {
    background: white;
    padding: 3.5rem 0;   
    @include media-breakpoint-between(xs, md) {
        text-align: center;
    }           
    img {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);        
        border-radius: .5rem;
        cursor: pointer;
    }
    h2 {
        color: $primary;
        font-size: 2.5rem;
        font-weight: 700;
        margin: 0;
        @include media-breakpoint-between(xs, sm) {
            font-size: 1.8rem;
        }         
        @include media-breakpoint-only(lg) {
            font-size: 2rem;
        }                             
    }
    p {
        color: $dark-grey;
        margin: 1.5rem 0;
        @include media-breakpoint-only(md) {
            font-size: 1.5rem;
        }         
    }
    button {
        @include media-breakpoint-between(xs, md) {
            width: 100%;
        }           
    }
    .alignCenter {
        display: flex;
        flex-wrap: wrap;
        align-content: center;        
    }
}

#content2 {
    background: url('../img/background2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 6rem 0;
    text-align: center;
    @include media-breakpoint-only(md) {
        padding: 6rem 5rem;
    }    
    h2 {
        font-size: 3rem;
        font-weight: 900;
        color: white;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.2), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
        margin: 0 0 2rem 0;
        @include media-breakpoint-between(xs, sm) {
            font-size: 2rem;
            text-align: center;
        }
        @include media-breakpoint-between(md, lg) {
            font-size: 2.5rem;
        }          
    }
}

#pricing {
    background-color: #f0f0f0;
    padding: 3.5rem 0;
    text-align: center;
    @include media-breakpoint-between(xs, md) {
        text-align: center;
    } 
    h3 {
        font-size: 1rem;
        font-weight: 700;
        color: rgb(100, 100, 100);
        padding-bottom: 0;
    }
    h2 {
        color: $primary;
        font-size: 2rem;
        font-weight: 700;
        &::after{
            background: $secondary;
            content: "";
            display: block;
            width: 30px;
            height: 5px;
            margin: 1rem auto 2rem;
        }
    }
    .colprice {
        background: $white;
        padding: 1rem;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        border: .5rem solid $white;
        text-align: center;
        &:hover { 
            border: .5rem solid $secondary;
            transition: all 0.2s ease-in-out 0s;
        }
        h3 {
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 700;
            color: $primary;
        }
        .p-price {
            font-style: italic;
            color: rgb(100, 100, 100);;
            margin: 0 0 1.5rem 0;
            font-size: .8rem;
            text-align: center;
        }
        .price-value {
            font-size: 4rem;
            font-weight: 900;
            .span-dollar {
                font-size: 1.5rem;
                margin: 0;
                padding: 0;
            }            
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                margin-bottom: 1rem;
                i {
                    color: $secondary;
                    position: relative;
                    top: 2px;
                    right: .2rem;
                }
            }
        }
    }
}
  

footer {
    &.copyright{
        background-color: $primary;
        text-align: center;
        padding-top: .8rem;
        p {
            color: white;
            a {
                color: white;
            }
        }
    }    
}